# SportsStats

## Step 1: Preparing for Your Proposal

### 1. Which client/dataset did you select and why?

"**Client 3: SportsStats (Olympics Dataset - 120 years of data)**: SportsStats is a sports analysis firm partnering with local news and elite personal trainers to provide “interesting” insights to help their partners.  Insights could be patterns/trends highlighting certain groups/events/countries, etc. for the purpose of developing a news story or discovering key health insights."


I choose this dataset because I want to work with tabular data instead of text mining in the future (maybe it's change, I don't know, but It's the focus right now). I think taht this dataset will bring me more experience about this topic.

### Description

This dataset offer 2 csv files:
- athelete_events: This file bring the information about all atheletes that participate of Olympics, with the columns:
  - ID;
  - Name;
  - Sex;
  - Age;
  - Height;
  - Weight;
  - Team;
  - NOC;
  - Games;
  - Year;
  - Season;
  - City;
  - Sport;
  - Event;
  - Medal.
  
- noc_regions: This file have the data about national Olympics Comitte Regions (learn more: https://en.wikipedia.org/wiki/National_Olympic_Committee). The columns are:
  - NOC
  - region
  - notes

### 4. Create an ERD or proposed ERD to show the relationships of the data you are exploring.
### Questions
### Hypothesis
### Approach

**Description:** Write a 5-6 sentence paragraph describing your project; include who might be interested to learn about your findings. Who might be your audience?

**Questions:** Create 2-3 questions that you want to answer with the data:

- This will be easier to answer once you've had an opportunity to look at the data and do some initial exploration.
- Don't get carried away on the analysis piece at this stage as there will be more analysis later.
- Do focus on key data elements that are present. For instance: What are they, when are they, who are they about? Do they connect? How do they connect? Jot down ideas as you brainstorm.

**Hypothesis:** What are your initial hypotheses about the data?

Write 2-3 assumptions about the data that you'll want to go back to prove or disprove. You will want to keep them in front of you as you look at the data to keep them or change them. You may see relationships that you want to explore and will develop a "belief" about the data.
- Start documenting what you think you can tell from the data.
- What pops up as interesting to you? Most likely it will be interesting to others as well.
- Use the discussion boards to discuss with others about your client and the data to brainstorm together.

**Approach :** Describe in 5-6 sentences what approach you are going to take in order to prove (or disprove) your hypotheses. Think about the following in your answer:
- What features (fields/columns) are you going to look at first?
- Is there a relationship that exists that you want to explore?
- What metric/ evaluation measure will you use?

### 2. Describe the steps you took to import and clean the data.

At first I need to import all python packages and then read the csv files.

In [4]:
import pandas as pd

In [13]:
athdf = pd.read_csv("./athlete_events.csv")
regdf = pd.read_csv("./noc_regions.csv")

### 3. Perform initial exploration of data and provide some screenshots or display some stats of the data you are looking at.

In [12]:
athdf.head(1)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN

In [15]:
regdf.head(1)

   NOC       region notes
0  AFG  Afghanistan   NaN

Here we can note that two DataFrames have the a commum column: NOC. But first, let's check the number of Null values and if the datatypes was correct imported

In [18]:
athdf.dtypes

ID          int64
Name       object
Sex        object
Age       float64
Height    float64
Weight    float64
Team       object
NOC        object
Games      object
Year        int64
Season     object
City       object
Sport      object
Event      object
Medal      object
dtype: object

In [20]:
regdf.dtypes

NOC       object
region    object
notes     object
dtype: object

In [33]:
athdf.isna().sum()

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

Many data for age, height and weight is missing. About the Medal collumn, we need to check if NA means no medal to the athlete.

In [35]:
regdf.isna().sum()

NOC         0
region      3
notes     209
dtype: int64

In both Dataframes, the common collumn (NOC) have no NA values, so, for the best